.hz-hover-wrapper {
	max-width: 100%;
	display: inline-block;
	position: relative;
	z-index: 0;
	overflow: hidden;
}

.hz-image {
	position: absolute !important;
	max-width: none !important;
}

.hz-hidden {
	display: none;
	opacity: 0;
}
